################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/HelloWorld/v16/ipch/AutoPCH/7f62f78835b4e161/0X0035.ipch
/.vs/HelloWorld/v16/ipch/AutoPCH/c36d4254ecf8990f/0X0000.ipch
/.vs/HelloWorld/v16/Browse.VC.db
/.vs/HelloWorld/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/HelloWorld/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
